#================================= .gitignore ==================================
#================= Ignore the following folder/files for git ===================

#============================ User Folders/Files ===============================


#=========================== System Folders/Files ==============================
*_cache
*_files

#============================ Misc. Folders/Files ==============================
.dropbox
.DS_Store
Icon
Icon?
Iconr

#==================================== END ======================================
